${require('./header.html')}
			
		<!-- site content -->
		<main class="site-content">
			<section class="driver-signup-section">
				<div class="container-fluid">
					<div class="row">
						<div class="main-img section-bg col-6 d-none d-xl-block" style="background-image: url(${require('./img/background-img.jpg')});">
							<div class="table-real">
								<div class="main-img-text-wrap td-real fill-viewport-h py-site c-white">
									<div class="inner max-w-615p">
										<h1 class="title h1"> Drive with Taxify</h1>
										<h3 class="sub-title h3">Earn good money with your car.</h3>
									</div>			
								</div>
							</div>
						</div>
						<div class="col-12 col-xl-6">
							<div class="table-real">
								<div class="signup-form-wrap form-wrap td-real fill-viewport-h py-site">
									<div class="inner w-100 max-w-615p">
										<div class="form-header">
											<h2 class="title h2">Signup as a driver</h2>
											<p class="sub-title p">Sign up here if you a driver who would like to use Taxify platform.</p>
										</div>
										<form class="signup-form form">
											<div class="form-group">
												<label for="email" class="label h4">Email</label>
											  <input class="form-control" id="email" type="email" required>
											  <p class="additional-text h6 c-2nd">Will be using as your username</p>
											</div>
											<div class="form-group">
												<label for="phone" class="label h4">Phone</label>
												<div class="dual-input-wrap input-group">
													<select class="form-control country-code" required>
													  <option value="+370">+370</option>
													  <option value="+371">+371</option>
													  <option  value="+372" selected>+372</option>
													</select>
													<input class="form-control" id="phone" placeholder="555-555-33" type="tel" required>
											  </div>
											</div>
											<div class="form-group">
												<label for="city" class="label h4">City</label>
												<select class="form-control" id="city" required>
													<optgroup label="Lithuania">
													  <option value="kaunas">Kaunas</option>
													  <option value="vilnius">Vilnius</option>
													</optgroup>
													<optgroup label="Latvia">
													  <option value="liepaja">Liepaja</option>
													  <option value="riga">Riga</option>
													</optgroup>
													<optgroup label="Estonia">
													  <option value="pärnu">Pärnu</option>
													  <option value="tallinn" selected>Tallinn</option>
													  <option value="tartu">Tartu</option>
													</optgroup>												
												</select>
											</div>
											  <div class="form-check">
											    <input type="checkbox" class="form-check-input" id="acceptance" required>
											    <div class="checkbox-label">
											    	<div class="icon-checkmark block-c"></div>
											    </div>
											    <label class="form-check-label w-100 h5 c-2nd inline" for="acceptance">By signing up, you accept our <a class="h5 link-2nd" href="#" target="_blank">Terms of Service</a> and <a class="h5 link-2nd" href="#" target="_blank">Privacy Policy</a></label>
											  </div>
											  <button type="submit" class="btn btn-success w-100">Proceed</button>
  									</form>
										<div class="form-footer text-center">
											<p class="title p">Have multiple cars and drivers?</p>
											<a class="sub-title p" href="#">Signup as a fleet owner</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- /site content -->

${require('./footer.html')}