/* Site content */

// General styles
.container,
.container-fluid,
div[class^="col"] {
	padding-right: 25px;
	padding-left: 25px;
}
.row {
	margin-right: -25px;
	margin-left: -25px;
}
.table-real {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.td-real {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	.inner {
		display: inline-block;
		text-align: left;
	}
}
.fill-viewport-h {
	height: 100vh;
}
.py-site {
	padding-top: calc(120px + 15px);
	padding-bottom: calc(120px + 15px);
}

@media(max-width: 1999px) {
	.py-site {
		padding-top: calc(100px + 18px);
		padding-bottom: calc(100px + 18px);
	}
}

.max-w-615p {
	max-width: 615px;
}
.c-white {
	color: #fff;
}
.c-2nd {
	color: #959595;
}
body {
	a {
		color: #40df6d;
		&:hover {
			color: #1eb449;
		}
	}
	a.link-2nd {
		color: #959595;
		text-decoration: underline;
		&:hover {
			color: #6F6F6F;
		}
	}
	.btn-success {
	  background-color: #40df6d;
	  border-color: #2adb5c;
	}
	.btn-success.active,
	.btn-success:hover {
    background-color: #22ca51;
    border-color: #1dac45;
	}
}
/**/

// Header
.site-header {
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	padding: 15px 2px 15px 16px;
	z-index: 99;
	.content-wrap {
		margin-top: 6px;
		.account-txt {
			letter-spacing: 0.035em;
		}
		.account-txt,
		.lang-switcher {
			margin-left: 42px;
		}
		.btn-sign-in {
			margin-left: 20px;
		}
	}
}
.site-logo {
	width: auto;
	height: 90px;
}
.btn-sign-in {
	padding: 9px 22px 7px !important;
	font-size: 16px !important;
	font-weight: 700 !important;
	color: #fff !important;
	background: #3f464f !important;
	&:hover {
		background: #192029 !important;
	}
}
.lang-switcher {
	.icon-world {
		font-size: 28px;
	}
	.lang {
		max-width: 150px;
		height: auto;
		margin-left: 8px;
	}
}

@media(max-width: 1999px) {
	.site-header {
		padding: 14px 1px 14px 12px; // * .77
		.content-wrap {
			margin-top: calc(6px * .77);
			.account-txt,
			.lang-switcher {
				margin-left: calc(42px * .77);
			}
		}
	}
	.site-logo {
		height: calc(90px * .77);
	}
	.btn-sign-in {
		padding: 7px 16px 5px !important; // * .77
		font-size: calc(16px * .77) !important;
	}
	.lang-switcher {
		.icon-world {
			font-size: calc(28px * .77);
		}
		.lang {
			margin-left: calc(12px * .77);
		}
	}
}

@media(max-width: 1199px) {
	.site-header {
		padding: 15px 0; // * .77
		.content-wrap {
			.lang-switcher {
				order: 1;
			}
			.btn-sign-in {
				order: 2;
				margin-left: 25px;
			}
		}
	}
}

@media(max-width: 575px) {
	.site-header {
		.content-wrap {
			.lang-switcher {
				position: relative;
				.lang {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: 0;
					opacity: 0;
					z-index: 2;
				}
			}
		}
	}
}

/**/

// Main image wrap
.main-img-text-wrap {
	padding-left: 12px;
	& > .inner {
		padding-top: 14px;
		.sub-title {
			margin-top: 32px;
		}
	}
}

@media(max-width: 1999px) {
	.main-img-text-wrap {
		padding-left: calc(12px * .77);
		& > .inner {
			padding-top: calc(14px * .77);
			.sub-title {
				margin-top: calc(32px * .77);
			}
		}
	}
}
/**/

// Form styles
.signup-form-wrap {
	padding-left: 22px;
	& > .inner {
		padding-top: 12px;
	}
}
.form-wrap {
	.form-header {
		margin-bottom: 28px;
		.sub-title {
			margin-top: 16px;
		}
	}
	.form-footer {
		margin-top: 20px;
		.sub-title {
			margin-top: 8px;
		}
	}
}
.form {
	.additional-text {
		margin-top: 8px;
	}
	input[type="checkbox"]+.checkbox-label {
		position: absolute;
		top: 6px;
		right: auto;
		bottom: auto;
		left: 0;
		width: 30px;
		height: 30px;
		border: 1px solid #d5d5d5;
		border-radius: 3px;
		.icon-checkmark {
			font-size: 20px;
			color: #40df6d;
			opacity: 0;
		}
  }
	input[type="checkbox"]:checked+.checkbox-label {
		.icon-checkmark {
			opacity: 1;
		}
  }
  .form-check-label {
  	margin-top: 6px;
  }
}
body .label {
	margin-bottom: 8px;
}
body .form-group {
	margin-bottom: 18px;
	line-height: 1.5;
}
.input-group {
	.country-code {
		width: 29%;
		&+input {
			width: calc(100% - 29%);
		}
	}
}
.form-check {
	padding-left: 0;
	margin-bottom: 28px;
	.form-check-label {
		position: relative;
		padding-left: 55px;
		z-index: 2;
	}
}
.form-control {
	height: 59px;
	padding: 13px 18px;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	&:focus {
		border-color: #40df6d;
		box-shadow: none !important;
	}
}
html body .btn {
	padding: 14px;
	font-size: 22px;
	text-transform: uppercase;;
	&:focus {
		box-shadow: none !important;
	}
}

@media(max-width: 1999px) {
	.signup-form-wrap {
		padding-left: calc(22px * .77);
		& > .inner {
			padding-top: 8px;
		}
	}
	.form-wrap {
		.form-header {
			margin-bottom: calc(28px * .77);
			.sub-title {
				margin-top: calc(16px * .77);
			}
		}
		.form-footer {
			margin-top: calc(20px * .77);
			.sub-title {
				margin-top: calc(8px * .77);
			}
		}
	}
	.form {
		.additional-text {
			margin-top: calc(8px * .77);
		}
		input[type="checkbox"]+.checkbox-label {
			width: calc(30px * .77);
			height: calc(30px * .77);
			top: calc(6px * .77);
			.icon-checkmark {
				font-size: calc(20px * .77);
			}
	  }
	  .form-check-label {
	  	margin-top: calc(6px * .77);
	  }
	}
	body .label {
		margin-bottom: calc(8px * .77);
	}
	body .form-group {
		margin-bottom: calc(18px * .77);
	}
	.form-check {
		margin-bottom: calc(28px * .77);
		.form-check-label {
			padding-left: calc(55px * .77);
		}
	}
	.form-control {
		height: calc(59px * .77);
		padding: 9px 13px; // * .77
	}
	html body .btn {
		padding: calc(14px * .77);
		font-size: calc(22px * .77);
	}
}

@media(max-width: 1999px) {
	.signup-form-wrap {
		padding-left: 0;
	}
}
/**/