/* Typography */

// Headings
.p,
body,
.form-control {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.6;
}
.h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.045em;
}
.h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.025em;
}
.h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.025em;
}
.h4 {
  font-size: 20px;
  font-weight: 700;
}
.h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.h6 {
  font-size: 17px;
  font-weight: 400;
}

@media(max-width: 1999px) {
  .p,
  body,
  .form-control {
    font-size: calc(22px * .77);
  }
  .h1 {
    font-size: calc(65px * .77);
  }
  .h2 {
    font-size: calc(42px * .77);
  }
  .h3 {
    font-size: calc(25px * .77);
  }
  .h4 {
    font-size: calc(20px * .77);
  }
  .h5 {
    font-size: calc(20px * .77);
  }
  .h6 {
    font-size: calc(17px * .77);
  }
}

// Icon font
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?czf7e2');
  src:  url('../fonts/icomoon.eot?czf7e2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?czf7e2') format('truetype'),
    url('../fonts/icomoon.woff?czf7e2') format('woff'),
    url('../fonts/icomoon.svg?czf7e2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-world:before {
  content: "\e9c9";
}
.icon-checkmark:before {
  content: "\ea10";
}