/* Layout */

// Flexbox positioning
.flex-grow { flex-grow: 1; }
.m-l-auto { margin-left: auto; }

// Block positioning
.block-fit-parent {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.block-c {
  position: absolute;
  display: block;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%,-50%);   
}
.block-y-c {
  position: absolute;
  display: block;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);   
}
.block-y-b {
  position: absolute;
  display: block;
  top: auto;
  bottom: 0;
}
.block-x-c {
  position: absolute;
  display: block;
  right: auto;
  left: 50%;
  transform: translateX(-50%);   
}
.block-x-right {
  position: absolute;
  display: block;
  right: 0;
  left: auto;
}
.margin-auto,
.row .margin-auto.row {
  margin-right: auto;
  margin-left: auto;
}
.contained-child {
  max-width: 100%;
  max-height: 100%;
}

// Visibility
.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.visually-shown {
    position: relative !important;
    opacity: 1 !important;
    pointer-events: auto !important;  
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}